{% extends "base.html" %}

{% block content %}
<div class="aboutMe">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet repudiandae deserunt quasi. Earum nam minus
        nesciunt
        ullam reprehenderit eos tempore at mollitia, ratione perspiciatis quae repellat corrupti facere hic qui! Lorem
        ipsum
        dolor sit amet consectetur adipisicing elit. Animi incidunt ab tempore dolorem nisi doloremque. Provident
        ducimus
        itaque nulla nemo libero, blanditiis dolorum, vitae dicta, totam facilis esse incidunt eaque!</p>
</div>
{% endblock %}