{% extends "base.html" %}

{% block content %}

<h1>Details</h1>

<div class="main_cont">
    <div class="img">
        <img src="{{user.image_url}}" alt="">
    </div>
    <div class="name_btn_div">
        <div class="name">
            <h2>{{user.first_name + " " + user.last_name}}</h2>
        </div>
        <div class="btn">
            <a href="/update_user">edit</a>
            <a href="/delete_user">delete</a>
        </div>
    </div>



</div>
<div class="post_cont">

    <a id="add_post_btn" href="/add_post">Add Post</a>




    <div class="posts_div">

        {% for p in posts %}
        <a class="post" href="/{{user.id}}/{{p.id}}">{{p.title}}</a></p>
        {% endfor %}

    </div>
</div>


{% endblock %}